/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500&display=swap');

/* ccs rule if you want to visualise the boxes */

/*
* {
    outline: 1px rgba(255,0,0,0.1) solid;
}
*/

body {
    margin: 0% 15%;
    background-color: #1f1e21;
    color: white;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 14px;
    word-break: normal;
}

h1 {
    color: gold;
    font-family: 'Hepta Slab', serif;
    font-size: 35px;
    margin: 10px;
    font-weight: normal;
}

h2 {
    color: white;
    font-family: 'Hepta Slab', serif;
    font-size: 20px;
    margin: 0px;
    font-weight: normal;
}

a {
    color: #DA0;
    text-decoration: none;
}

/* classes */

.header { 
    display: inline-block;
    border: 5px dotted white;
    text-align: center;
    padding: 20px 50px; /* inside element */
    margin: 20px 0px; /* around element */
}

.button {
    display: inline-block;
    border: 2px solid white;
    text-align: center;
    background-color: transparent;
    color: gold;
    font-family: 'Hepta Slab', serif;
    font-size: 20px;
    padding: 10px 20px;
}

.button:hover {
    color: black;
    background-color: white;
    transition: .5s;
}

.bigbutton {
    display: inline-block;
    border: 5px dotted white;
    text-align: center;
    background-color: transparent;
    color: gold;
    font-family: 'Hepta Slab', serif;
    font-size: 20px;
    padding: 20px 40px;
}

.bigbutton:hover {
    color: black;
    background-color: white;
    transition: .5s;
}

.commentsection {
    display: block;
    background-color: transparent;
    padding: 0px;
    margin: 20px 0px;
}

.commentblock {
    display: block;
    background-color: transparent;
    padding: 5px;
    margin: 5px 0px;
}

.timestamp {
    text-align: left;
    margin: 0;
    color: white;
    opacity: 0.5;
}

.commenttext {
    text-align: center;
    margin: 0% 5%;
    color: white;
    font-size: 16px;
}

.signature {
    text-align: right;
    margin: 0;
    color: white;
}

.icon {
    max-height: 40px;
    max-width: 40px;
}

.dogimage {
    display: inline-block;
    text-align: center;
    border: 5px dotted white;
    padding: 5px; /* inside element */
    margin: 20px 0px; /* around element */
    max-height: 70%;
    max-width: 70%;
}

/*navbar stuff*/

.navbar {
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    word-break: normal;
    padding: 0px;
    margin: 40px 0px 0px;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
}

.navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    word-break: normal;
    padding: 5px 30px;
    height: 100%;
    background-color: transparent;
}

.navbar a:hover {
    opacity: 0.5;
    transition: .5s;
}

/* switch to rows when narrow */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* media query: MOBILE */

#menu div {
    grid-column: span 3;
    margin: 0 1em;
}

#menu div:nth-child(3) {
    border-bottom: 3px solid #2A8;
    border-top: 3px solid #2A8;
}

/* media query: SCREENS OVER 720 PX WIDE*/

@media only screen and (min-width: 720px) {
    #menu div {
        grid-column: auto;
        margin: 0;
    }
    #menu div:nth-child(3) {
        border: none;
        border-left: 3px solid #2A8;
        border-right: 3px solid #2A8;
    }
}

/* forms */

input, textarea {
    border: solid 2px rgba(255,255,255,.5);
    color: gold;
    background-color: transparent;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
    height: 2em;
    padding: 10px;
    margin: 5px 0px;
    text-align: center;
    font-size: 16px;
}

textarea {
  height: auto;
  width: 100%;
}

#menu input, #menu textarea {
  float: left;
  margin-right: 1em;
  margin-top: -0.15em;
  width: 2.2em;
}

#submission {
  padding: 0% 20%;
}

#submission input,
#submission textarea {
  box-sizing: border-box;
  min-height: 3em;
  width: 100%;
}

/* footer */

#footer {
    color: white;
    font-size: inherit;
    opacity: 0.5;
    padding: 1em;
    text-align: center;
}











