{% extends "base.html" %}

{% block title %}about.{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<body>

<br><br>

<div class="header">
    <h1>regarding this site.</h1>
</div>

<br><br>
    
    <h2>
        a place where you may percieve and respond to a depiction of dog, should you wish to do so.
        <br><br>
        responses are recorded and available to view in the appraisal archive.
    </h2>
   
    <div class="navbar">
        <a href="{{ url_for('index') }}">
            <img class="icon" src="{{ url_for('static', filename='star.png') }}"/><br>return.
        </a>
        <a href="{{ url_for('appraisal') }}">
            <img class="icon" src="{{ url_for('static', filename='star.png') }}"/><br>proceed to dog.
        </a>
        <a href="{{ url_for('archive') }}">
            <img class="icon" src="{{ url_for('static', filename='star.png') }}"/><br>appraisal archive.
        </a>
    </div>
    
</body>

{% endblock %}
