<!DOCTYPE html>

<html>
    
<head>

    <meta charset="utf-8">
    <title>appraisal.archive</title>
    <meta name="description" content="24 hour food delivery. Order burgers,
    drinks, fries, and more!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no"> <!-- vital for media query resizing on mobile devices -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>

</head>
    
<body>
    
    <div class="header">
        <h1>appraisal archive.</h1>
    </div>

    <div class="commentsection">
    {% for comments in comments %} 
        <div class="commentblock">
            <p class="timestamp">{{ comments[1] }}</p>
            <p class="commenttext">{{ comments[3] }}</p>
            <p class="signature">-- {{ comments[2] }}</p>
        </div>
    {% endfor %}
    </div>
    
    <a class="button" href="{{ url_for('index') }}">return.</a>
    
    <div id="footer">
        {{ disclaimer }}
    </div>

</body>
    
</html>