<!DOCTYPE html>

<html>
    
    <head>

        <meta charset="utf-8">
        <title>thank you.</title>
        <meta name="description" content="Order - 24 hour food delivery. Order
        burgers, drinks, fries, and more!" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" />

    </head>
    
    <body>

        <div class="header">
            <h1>thank you.</h1>
        </div>
                    
        <h2>your response has been recorded.</h2>
        
        <div class="commentsection">
                <div class="commentblock">
                    <p class="commenttext">{{ details['commenttext'] }}</p>
                    <br>
                    <p class="commenttext">-- {{ details['username'] }}</p> 
                </div>
        </div>
<!--        resends when refreshed?-->
        
        <div class="centered">
            <img class="gif" src="{{ url_for('static', filename='dogwalk.gif') }}"/>
        </div>
        
        <a class="button" href="/">return.</a>
     
        <div id="footer">
        {{ disclaimer }}
        </div>
        
    </body>
    
</html>