<!DOCTYPE html>

<html>
    
<head>

    <meta charset="utf-8">
    <title>appraisal.of.dog</title>
    <meta name="description" content="24 hour food delivery. Order burgers,
    drinks, fries, and more!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no"> <!-- vital for media query resizing on mobile devices -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>

</head>
    
<body>

    <a href="{{ url_for('index') }}">
    <div class="header">
        <h2>welcome to.</h2>
        <h1>appraisal of dog.</h1>
    </div>
    </a>

    <h2>latest comments.</h2>

    <div class="commentsection">
    {% for newest in newest %} 
        <div class="commentblock">
            <p class="timestamp">{{ newest[1] }}</p>
            <p class="commenttext">{{ newest[3] }}</p>
            <p class="signature">-- {{ newest[2] }}</p>
        </div>
    {% endfor %}
    </div>
    
    <a class="bigbutton" href="{{ url_for('appraisal') }}">proceed to dog.</a>
    
    <div class="navbar">
        <a href="{{ url_for('index') }}">
            <img class="icon" src="{{ url_for('static', filename='logo.svg') }}"/>index.
        </a>
        <a href="{{ url_for('archive') }}">
            <img class="icon" src="{{ url_for('static', filename='logo.svg') }}"/>archive.
        </a>
        <a href="{{ url_for('archive') }}">
            <img class="icon" src="{{ url_for('static', filename='logo.svg') }}"/>404...
        </a>
    </div>
    
    <div id="footer">
        {{ disclaimer }}
    </div>
        
</body>
    
</html>